Repository Corvax-Frontier/corvax-frontier-14, pull requests merged in 2024-04, with the labels that each got.

#9 NF апдате
  Resources/Locale/ru-RU/_NF/advertisements/mobchatter/bloodculthumanoidmob.ftl
  Resources/Locale/ru-RU/_NF/advertisements/mobchatter/syndicatehumanoidmob.ftl
  Resources/Locale/ru-RU/_NF/advertisements/mobchatter/wizardhumanoidmob.ftl
  Resources/Locale/ru-RU/_NF/bluespace-events/events.ftl
  Resources/Locale/ru-RU/_NF/chat/managers/chat_manager.ftl
  Resources/Locale/ru-RU/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_NF/job/job-description.ftl
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/_NF/prototypes/access/accesses.ftl
Labels: No C#, FTL

#16 Небольшие фиксы
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/piecrust.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmkii.yml
Labels: C#, YML, Map-Shuttle

#17 мини-апштрим
  Resources/Changelog/Changelog.yml
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/nyanotrasen/nyano-jobs.ftl
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/skipper.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/skipper.yml
Labels: No C#, FTL, Map-Shuttle

#19 Update knuckleverse.yml
  Resources/Prototypes/_NF/Shipyard/knuckleverse.yml
Labels: No C#, YML, Map-Shuttle

#24 Опять апстрим
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/ship_vs_ship.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/syndicate_naval_forces.yml
  Resources/Prototypes/_NF/radio_channels.yml
Labels: C#, YML

#25 Split cargo request console (#1191)
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Shared/Cargo/CargoOrderData.cs
Labels: C#

#27 add corvax interfaces to packaging
  Content.Packaging/ClientPackaging.cs
  Content.Packaging/ServerPackaging.cs
Labels: C#

#28 Правки перевода и прочие изменения
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Audio/Corvax/Frontier/Voice/gasp_female1.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_female2.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_female3.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_female4.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_female5.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_female6.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_female7.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_male1.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_male2.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_male3.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_male4.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_male5.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_male6.ogg
  Resources/Audio/Corvax/Frontier/Voice/gasp_male7.ogg
  Resources/Audio/Corvax/Frontier/Voice/ы.txt
  Resources/ConfigPresets/Corvax/mrp.toml
  Resources/Locale/ru-RU/_NF/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/deltav/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Prototypes/Corvax/Frontier/SoundCollections/DefaultDeathgasp.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_female.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_location.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_male.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/pitbull.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_NF/Voice/speech_emote_sounds.yml
  Resources/ServerInfo/RulesCorvax.txt
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_base.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_exploding.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_timing.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbombc.png
  Resources/Textures/Objects/Misc/brbsign.rsi/icon.png
Labels: FTL, C#, YML, Sprites

#29 update publish
  .github/workflows/publish.yml
Labels: No C#

#31 Апстрим
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
Labels: No C#, YML

#32 ХотФикс багов и неисправностей
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Server/Administration/Commands/AdminWhoCommand.cs
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_NF/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Locale/ru-RU/_NF/shipyard/shipyard-console-component.ftl
  Resources/Locale/ru-RU/markings/gauze.ftl
  Resources/Locale/ru-RU/markings/oni.ftl
  Resources/Locale/ru-RU/markings/scars.ftl
  Resources/Locale/ru-RU/markings/vulpkanin.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/npc/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/neck/scarfs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/atms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/signs.yml
  Resources/ServerInfo/Guidebook/Adventure/Adventure.xml
  Resources/ServerInfo/Guidebook/Adventure/Bank.xml
  Resources/ServerInfo/Guidebook/Adventure/Shipyard.xml
  Resources/ServerInfo/RulesCorvax.txt
  Resources/Textures/Structures/Wallmounts/barsign.rsi/corvax_alcoholic.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/nfsd_brown_boots.rsi/equipped-FEET.png
Labels: FTL, C#, YML, Sprites, UI, Docs

#34 Пу-пу-пу
  Content.Server/Chemistry/Components/SolutionRegenerationComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionRegenerationSystem.cs
Labels: C#

#35 Админы теперь следят за вами
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Server/Worldgen/Systems/Debris/DebrisFeaturePlacerSystem.cs
  Content.Shared/SpaceDebrisComponent.cs
Labels: C#, UI

#41 апстрим 19042024
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/nfsd.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Shipyard/canister.yml
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/primed.png
Labels: No C#, FTL, YML, Sprites, Map-Shuttle

#39 Новое рандомное событие: RandomShipyardErrorRule
  Content.Server/_NF/GameRule/Events/Components/RandomShipyardErrorRuleComponent.cs
  Content.Server/_NF/GameRule/Events/RandomShipyardErrorRule.cs
  Resources/Prototypes/_NF/Events/events.yml
Labels: C#, YML

#42 ai_factions fix
  Resources/Prototypes/ai_factions.yml
Labels: No C#, YML

#45 Tabletop micro resprite
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/generic_keyboard_tabletop.png
Labels: No C#, Sprites

#49 Смена параллакса
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Parallaxes/frontier.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/meta.json
  Resources/Textures/_NF/Parallaxes/Asteroids.png
  Resources/Textures/_NF/Parallaxes/FrontierParallaxBG.png
  Resources/Textures/_NF/Parallaxes/FrontierParallaxNeb.png
Labels: No C#, YML, Sprites

#56 Пираты раундстартом
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
  Resources/Prototypes/_NF/Roles/play_time_trackers.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: FTL, C#, Map-Shuttle, Map-POI, Map-Outpost

#57 Автоудаление обломков
  Content.Server/Worldgen/Prototypes/GCQueuePrototype.cs
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
  Resources/Prototypes/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/GC/world.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
Labels: C#, YML

#58 Port fancy typing indicators
  Content.Client/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingChangedEvent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorPrototype.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorVisuals.cs
  Content.Shared/Corvax/TypingIndicator/TypingIndicatorState.cs
  Resources/Prototypes/typing_indicator.yml
Labels: C#, YML, UI

#60 Change airlock deny sound
  Resources/Audio/Machines/airlock_deny.ogg
  Resources/Audio/Machines/attributions.yml
Labels: No C#, YML

#61 Больше оптимизации
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
Labels: C#, YML

#63 Реворк экспедиций
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Resources/Locale/ru-RU/_NF/adventure/adventure.ftl
Labels: FTL, C#

#64 Больше не неуязвимы
  Content.Server/Shuttles/Systems/ShuttleSystem.IFF.cs
Labels: C#

#65 Апстрим
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/pirates.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Textures/_NF/Clothing/Belt/arcadia.rsi/equipped-BELT.png
  Resources/Textures/_NF/Clothing/Belt/arcadia.rsi/meta.json
Labels: No C#, Sprites, Map-POI

#66 Апстрим 2
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Shuttles/Security/inquisitor.yml
  Resources/Maps/_NF/Shuttles/Security/prowler.yml
Labels: No C#

#67 Upstream 250424
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/Security/inquisitor.yml
  Resources/Maps/_NF/Shuttles/Security/prowler.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/pirates.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Textures/_NF/Clothing/Belt/arcadia.rsi/equipped-BELT.png
  Resources/Textures/_NF/Clothing/Belt/arcadia.rsi/meta.json
Labels: No C#, Sprites, Map-POI

#69 Дебафф ДАМа до Заводских настроек по ГОСТу NAKARUMA.
  .github/mapchecker/config.py
  Content.Server/Ame/AmeNodeGroup.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
Labels: C#

#70 Revert хуйни из "Дебафф ДАМа до Заводских настроек по ГОСТу NAKARUMA."
  .github/mapchecker/config.py
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
Labels: No C#

#71 Thrusters Fix. again. (#1272)
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
Labels: No C#, YML

#73 Handheld radio rework
  Content.Client/Radio/Ui/HandheldRadioBoundUserInterface.cs
  Content.Client/Radio/Ui/HandheldRadioMenu.xaml
  Content.Client/Radio/Ui/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/ss14-ru/radio/components/handheld.ftl
  Resources/Locale/ru-RU/radio/components/handheld.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: FTL, C#, YML, UI

#75 Перерисована табличка SRa
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_sr.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/meta.json
Labels: No C#, Sprites

#76 Кредиты теперь горят
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Labels: No C#, YML

#77 Теперь маленький
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
Labels: No C#, YML

#78 NPC lag fix
  Content.Server/NPC/HTN/HTNSystem.cs
Labels: C#

#80 Fix debris despawn players
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
Labels: C#

#81 Fix my KsenoSlime!
  Resources/Prototypes/Corvax/Entities/Mobs/Species/xenoslime.yml
Labels: No C#, YML

#82 Fixed the maximum size of the game window
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/UserInterface/Controls/MainViewport.cs
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
  Content.Client/Viewport/ScalingViewport.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: FTL, C#, UI

#86 Corvax Resprites
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmount/signs.yml
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_door.rsi/opening.png
  Resources/Textures/Structures/Storage/closet.rsi/representative_door.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-combat.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-combat.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-combat.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-mercenary.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-mercenary.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-mercenary.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-nfsd.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-nfsd.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-nfsd.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-pirate.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-pirate.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-pirate.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/opening.png
  Resources/Textures/_NF/Structures/Holo/nfsd.rsi/icon.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nfsdtech.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nfsdtech.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nfsdtech.rsi/off.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/mercenary_door.png
Labels: No C#, YML, Sprites

#87 Try fix appereance polymorph
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Labels: C#

#89 Update upstream2804
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/conveyor.yml
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/greenlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/meta.json
  Resources/Textures/_NF/Structures/conveyor.rsi/redlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-rev.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch.png
Labels: No C#, Sprites

#91 First connection problem fix
  Content.Server/Database/UserDbDataManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: C#

#92 Fix error on debris despawn
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
Labels: C#

#94 Оптимизация made by Zekins
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Species/felinid.yml
Labels: C#, YML

#95 Returned advanced prying to fireaxe
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Locale/ru-RU/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/tool_qualities.yml
Labels: No C#, FTL, YML
