Repository Corvax-Frontier/corvax-frontier-14, pull requests merged in 2024-06, with the labels that each got.

#242 Fix Charlie and harrier
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/CorvaxFrontier/POI/charlie.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/harrier.yml
  Resources/Prototypes/CorvaxFrontier/Maps/POI/charlie.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/harrier.yml
Labels: C#, YML

#246 Небольшие фиксы рас
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/elzuosa.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/xenoslime.yml
Labels: No C#, FTL, YML

#245 Кошельки
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/wallets.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/wallets.yml
  Resources/Prototypes/Corvax/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/black.png
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/blue.png
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/brown.png
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/equipped-IDCARD.png
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/id_overlay.png
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/meta.json
  Resources/Textures/Corvax/Objects/Misc/wallets.rsi/null.png
Labels: No C#, FTL, YML, Sprites

#248 Перевод непереведённого
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/ammunition/magazines/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/speedloaders/heavy_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/speedloaders/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/guns/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/guns/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/guns/smgs.ftl
  runclient.bat
Labels: No C#, FTL

#247 Всякие изменения
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/pulse.ogg
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/pulse2.ogg
  Resources/Audio/Corvax/Weapons/Guns/Gunshots/pulse3.ogg
  Resources/Locale/ru-RU/clothing/hardsuits.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/guns/salvage/magmiteplasmacutter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/melee/magmitecrushers.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Salvage/magmiteplasmacutter.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Melee/magmitecrushers.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/devices.yml
  Resources/Prototypes/Corvax/SoundCollections/gunshots.yml
  Resources/Prototypes/Corvax/tags.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Corvax/Effects/arcs.rsi/magma.png
  Resources/Textures/Corvax/Effects/arcs.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Projectiles/magic.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Projectiles/magic.rsi/plasmacharge.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Salvage/magmite_plasma_cutter.rsi/icon-uncharged.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Salvage/magmite_plasma_cutter.rsi/icon.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Salvage/magmite_plasma_cutter.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Salvage/magmite_plasma_cutter.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Salvage/magmite_plasma_cutter.rsi/meta.json
Labels: No C#, FTL, YML, Sprites

#249 Anti-Tweak
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#, YML

#252 Fix charli
  Resources/Maps/CorvaxFrontier/POI/charlie.yml
Labels: No C#, YML

#250 Чутка музыки
  Resources/Audio/BoomBox/hopesanddreams.ogg
  Resources/Audio/BoomBox/imaginedragonsenemy.ogg
  Resources/Audio/BoomBox/jamesblackeretrograde.ogg
  Resources/Audio/BoomBox/kdavillian.ogg
  Resources/Audio/BoomBox/megalovania.ogg
  Resources/Audio/BoomBox/ramseygoodbye.ogg
  Resources/Audio/BoomBox/samuelkimgunsforhire.ogg
  Resources/Audio/BoomBox/sigrideverybodyknows.ogg
  Resources/Audio/BoomBox/undertale.ogg
  Resources/Prototypes/Entities/Objects/Devices/boombox.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/autotunevend.yml
Labels: No C#, YML

#253 Ап ап
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/paper/paper-misc.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Objects/Weapons/Guns/Ammunition/SpeedLoaders/heavy_rifle.yml
Labels: No C#, FTL, Map-POI, Map-Outpost

#254 Update shuttles: Zarya, Warrior, Harrier
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/zarya.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/centurion.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/warrior.yml
  Resources/Prototypes/CorvaxFrontier/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/zarya.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/centurion.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/harrier.yml
Labels: No C#, YML

#255 Add music boom box
  Resources/Audio/BoomBox/DavidRawlingsCumberlandGap.ogg
  Resources/Audio/BoomBox/IDrive.ogg
  Resources/Audio/BoomBox/MichaelHolborn.ogg
  Resources/Audio/BoomBox/TheOffspring.ogg
  Resources/Audio/BoomBox/TitoTarantula.ogg
  Resources/Prototypes/Entities/Objects/Devices/boombox.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/autotunevend.yml
Labels: No C#, YML

#258 Добавление японской кухни.
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/1/1.txt
Labels: No C#

#263 Japanfood
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/hanamidango.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
Labels: No C#, YML, Sprites

#267 Новый фон в лобби
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/spacetragedy.png
  Resources/Textures/Corvax/LobbyScreens/spacetragedy.png.yml
Labels: No C#, YML

#266 Админбуз звуки с основы
  Resources/Audio/Corvax/Adminbuse/ai_malf_1.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_2.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_3.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_4.ogg
  Resources/Audio/Corvax/Adminbuse/aimalf.ogg
  Resources/Audio/Corvax/Adminbuse/artillery.ogg
  Resources/Audio/Corvax/Adminbuse/i-storm1.ogg
  Resources/Audio/Corvax/Adminbuse/irod.ogg
  Resources/Audio/Corvax/Adminbuse/licenses.txt
  Resources/Audio/Corvax/Adminbuse/noert.ogg
  Resources/Audio/Corvax/Adminbuse/outbreak5.ogg
  Resources/Audio/Corvax/Adminbuse/portal.ogg
  Resources/Audio/Corvax/Adminbuse/vox_arrival.ogg
  Resources/Audio/Corvax/Adminbuse/vox_returns.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_crew_win.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/yesert.ogg
Labels: No C#

#269 Поломатые шлюзы
  Resources/Audio/BoomBox/space_asshole.ogg
  Resources/Prototypes/Entities/Objects/Devices/boombox.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hatch.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hatch.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hatch_maint.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hatch_maint.rsi/open_unlit.png
  Resources/Textures/_NF/Structures/Specific/BloodCult/airlock.rsi/meta.json
  Resources/Textures/_NF/Structures/Specific/BloodCult/airlock.rsi/open_unlit.png
Labels: No C#, YML, Sprites

#270 Небольшое изменение бумбокса
  Resources/Audio/BoomBox/Beacon.ogg
  Resources/Audio/BoomBox/CrystalsHotlineMiami.ogg
  Resources/Audio/BoomBox/HydrogenHotlineMiami.ogg
  Resources/Audio/BoomBox/Im_Blink.ogg
  Resources/Audio/BoomBox/Rekka.ogg
  Resources/Audio/BoomBox/To_fall.ogg
  Resources/Prototypes/Entities/Objects/Devices/boombox.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/autotunevend.yml
Labels: No C#, YML

#272 anchor trade station into place (#1484)
  Resources/Maps/_NF/POI/trade.yml
Labels: No C#, Map-POI

#274 Магазины ПП в ТехФаб Патронов
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML

#279 add Shuttle's and fix maps
  Resources/Maps/CorvaxFrontier/POI/charlie.yml
  Resources/Maps/CorvaxFrontier/Shuttles/BlackMarket/QueenAnnesRevenge.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/Sunset.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/zarya.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Pot.yml
  Resources/Maps/CorvaxFrontier/Shuttles/hercules.yml
  Resources/Prototypes/CorvaxFrontier/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/CorvaxFrontier/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/BlackMarket/QueenAnnesRevenge.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/Sunset.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/zarya.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Pot.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/hercules.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#, YML

#280 Up100624
  Content.Server/Devour/DevourSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/NPC/Components/NpcFactionMemberComponent.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Maps/_NF/Shuttles/mailtruck.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_NF/Palettes/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/mailtruck.yml
Labels: C#, Map-Shuttle

#282 Откат автоудаления гильз
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
Labels: C#

#283 Реклама в торговых автоматах
  Resources/Locale/ru-RU/advertisements/vending/autotune.ftl
  Resources/Locale/ru-RU/advertisements/vending/bounty.ftl
  Resources/Locale/ru-RU/advertisements/vending/flatpack.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/autotune.yml
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/bounty.yml
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/flatpack.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: No C#, FTL, YML

#287 Фикс гильз от векторов .22 и .45
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/SMGs/SMGsAmmo.yml
Labels: No C#, YML

#289 Фикс акцентов
  Content.Server/Speech/EntitySystems/BarkAccentSystem.cs
  Content.Server/Speech/EntitySystems/FrontalLispSystem.cs
  Content.Server/Speech/EntitySystems/MonkeyAccentSystem.cs
  Content.Server/Speech/EntitySystems/OwOAccentSystem.cs
  Content.Server/Speech/EntitySystems/SlurredSystem.cs
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
Labels: C#

#293 Небольшой рефактор цен
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#, YML

#292 Up130624
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/_NF/Containers/WeaponCaseInsertable.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Machines/material_reclaimer.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/weapon_cases.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/Prototypes/_NF/Procedural/Themes/salvage_outpost.yml
  Resources/Prototypes/_NF/Procedural/Themes/virology_lab.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Tools/guncaselong.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Tools/guncaselong.rsi/icon.png
Labels: C#, Sprites, Map-Dungeon

#296 Эксперименты
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: C#, YML

#297 FixPirateAccent
  Resources/Locale/ru-RU/accent/pirate.ftl
Labels: No C#, FTL

#298 Ап
  Content.Server/Atmos/Piping/Binary/Components/GasPressurePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/Components/GasVolumePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasMixerComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: C#, YML

#299 Всякое неинтересное
  Content.Shared/Corvax/Physics/FrictionRemoverSystem.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: C#, YML

#301 Смена обозначения ключа для канала пиратов (удобно)
  Resources/Prototypes/radio_channels.yml
Labels: No C#, YML

#303 Фиксы полетов аванпоста
  Content.Shared/Corvax/Physics/FrictionRemoverSystem.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: C#, Map-POI

#304 add shuttles, epsilon and minor fixes
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/CorvaxFrontier/POI/charlie.yml
  Resources/Maps/CorvaxFrontier/POI/epsilon.yml
  Resources/Maps/CorvaxFrontier/Shuttles/BlackMarket/QueenAnnesRevenge.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/hammer.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/skat.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Scrap/dual.yml
  Resources/Maps/CorvaxFrontier/Shuttles/theScavenger.yml
  Resources/Prototypes/CorvaxFrontier/Maps/POI/epsilon.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/hammer.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Scrap/dual.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/theScavenger.yml
Labels: C#, YML

#305 Revert "Фиксы полетов аванпоста"
  Content.Shared/Corvax/Physics/FrictionRemoverSystem.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: C#, Map-POI

#310 Upfix
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/traking_dart.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/wielded-inhand-right.png
Labels: No C#, Sprites, Map-Dungeon

#309 Почта-почта-почта
  Resources/Locale/en-US/ss14-ru/prototypes/nyanotrasen/entities/objects/specific/mail/mail.ftl
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: No C#, FTL, YML

#311 add destroyed shuttles for the event
  Resources/Maps/CorvaxFrontier/Bluespace/RuinedBarge.yml
  Resources/Maps/CorvaxFrontier/Bluespace/RuinedCourser.yml
  Resources/Maps/CorvaxFrontier/Bluespace/RuinedHauler.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
Labels: No C#, YML

#312 Fix purchase sluttle and add loadout mercenary
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/face.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
Labels: C#, YML

#316 Meh
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
Labels: No C#, Map-Outpost

#318 Фикс вместимости вещмешков
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
Labels: No C#, YML

#320 Наконец то рабочий бумбокс.
  Content.Client/BoomBox/UI/BoomBoxBoundUi.cs
  Content.Client/BoomBox/UI/BoomBoxWindow.xaml
  Content.Client/BoomBox/UI/BoomBoxWindow.xaml.cs
  Content.Server/BoomBox/BoomBoxComponent.cs
  Content.Server/BoomBox/BoomBoxSystem.cs
  Content.Shared/BoomBox/SharedBoomBox.cs
Labels: C#, UI

#321 up
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
Labels: No C#, Map-Shuttle

#323 Fix Vending Machines
  Content.Server/VendingMachines/VendingMachineSystem.cs
Labels: C#

#326 Revert "Эксперименты (#296)"
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: C#, YML

#328 Sh1ntra fixduffel
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
Labels: No C#, YML

#329 It's not much, but it's honest work
  Resources/Locale/ru-RU/_NF/bluespace-events/events.ftl
Labels: No C#, FTL

#330 GrapplingHook as a rope (just for real test)
  Content.Client/Weapons/Misc/GrapplingGunSystem.cs
  Content.Shared/Weapons/Misc/SharedGrapplingGunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GrapplingGunComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: C#, YML

#331 Up200624
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/messenger.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/bags.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Neck/Misc/mercenary_iff.rsi/equipped-NECK-on.png
Labels: C#, YML, Sprites

#319 Теперь Месть Королевы Анны не ебет себя из за Димочки
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: No C#, YML

#325 Ляжания вторая попытка - ДОДЕЛАННОЕ, РАБОЧЕЕ ГАВНО
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/LieDown/LyingDownComponent.cs
  Content.Shared/LieDown/SharedLieDownSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/actions/actions/lie-down.ftl
  Resources/Prototypes/Actions/liedown.yml
  Resources/Textures/Interface/Actions/lie-down-state.png
  Resources/Textures/Interface/Actions/stand-up-state.png
  Resources/keybinds.yml
Labels: FTL, C#, YML, UI

#324 Переводчик в слот шеи и чуть-чуть ftl
  Resources/Locale/ru-RU/_NF/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/messenger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/tools/umbrella.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/devices/translator.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Devices/translator.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Textures/Corvax/Objects/Devices/translator.rsi/equipped-NECK.png
  Resources/Textures/Corvax/Objects/Devices/translator.rsi/meta.json
Labels: No C#, FTL, YML, Sprites

#333 Новый фронтир, новые шаттлы, новые блюспейс разбитые шаттлы и прочие фиксы по картам
  Resources/Maps/CorvaxFrontier/Bluespace/RuinedComet.yml
  Resources/Maps/CorvaxFrontier/Bluespace/RuinedCrescent.yml
  Resources/Maps/CorvaxFrontier/Bluespace/RuinedInv.yml
  Resources/Maps/CorvaxFrontier/Bluespace/RuinedSprinter.yml
  Resources/Maps/CorvaxFrontier/Outpost/corvaxFrontier.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/Sunset.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Fang.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Mantis.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/skat.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Scrap/dual.yml
  Resources/Maps/CorvaxFrontier/Shuttles/mailpod.yml
  Resources/Maps/CorvaxFrontier/Shuttles/mailtruck.yml
  Resources/Maps/CorvaxFrontier/Shuttles/phoron.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Prototypes/CorvaxFrontier/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/Sunset.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Fang.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Mantis.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/skat.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/phoron.yml
  Resources/Prototypes/CorvaxFrontier/tags.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/mailtruck.yml
Labels: No C#, Map-Shuttle

#334 Обновление Фронтиры.
  Resources/Maps/CorvaxFrontier/Outpost/corvaxFrontier.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/Sunset.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Fang.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Mantis.yml
  Resources/Maps/CorvaxFrontier/Shuttles/phoron.yml
Labels: No C#, YML

#336 Вера, уходи...
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/boxes/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/cartridges/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/magazines/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/speedloaders/heavy_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/ammunition/speedloaders/pistol.ftl
Labels: No C#, FTL

#337 ЛАЙ ДАУН ЧАСТЬ 3
  Content.Client/Input/ContentContexts.cs
  Content.Client/Movement/Systems/WaddleAnimationSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/LieDown/LyingDownComponent.cs
  Content.Shared/LieDown/SharedLieDownSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/actions/actions/lie-down.ftl
  Resources/Locale/ru-RU/actions/actions/lie-down.ftl
  Resources/Prototypes/Actions/liedown.yml
  Resources/Textures/Interface/Actions/lie-down-state.png
  Resources/Textures/Interface/Actions/stand-up-state.png
  Resources/keybinds.yml
Labels: FTL, C#, YML, UI

#341 ЛЯЖАНИЯ 4
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Shared/LieDown/LyingDownComponent.cs
  Content.Shared/LieDown/SharedLieDownSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Prototypes/Actions/liedown.yml
  Resources/Textures/Interface/Actions/lie-down-state.png
  Resources/Textures/Interface/Actions/stand-up-state.png
Labels: C#, YML

#339 Chance Penetration
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
Labels: C#

#338 Убрал ргб эльзуосам
  Resources/Prototypes/Corvax/Entities/Mobs/Species/elzuosa.yml
Labels: No C#, YML

#342 FAST FIX ЛЯЖАНИЙ
  Content.Shared/Standing/StandingStateSystem.cs
Labels: C#

#344 FIX ЛЯЖАНИЙ 6
  Content.Shared/Standing/StandingStateSystem.cs
Labels: C#

#346 PRедложка2....
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: C#

#350 New Japan Food
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/ingredients/food.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/dangodough.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/rawramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/mitarasidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/onigiri.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/porkramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/spicyporkramen.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/hanamidango.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/ingredients.rsi/doughdangoball.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/ingredients.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/ingredients.rsi/rawnoodles.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/mitarashidango.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/onigiri.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/porkramen.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/spicyporkramen.png
Labels: No C#, YML, Sprites

#352 New japan food
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/dangodough.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/rawramennoodles.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/doughdangoball.png
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/rawnoodles.png
Labels: No C#, YML, Sprites

#343 Правки шансов пенетрации🍞
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/SMGsAmmo.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: No C#, YML

#353 Japanfood
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/ingredients/food.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/JapanFood/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/dangodough.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/rawramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/mitarasidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/onigiri.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/porkramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/spicyporkramen.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/doughdangoball.png
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/ingredients.rsi/rawnoodles.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/hanamidango.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/mitarashidango.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/onigiri.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/porkramen.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/spicyporkramen.png
Labels: No C#, YML, Sprites

#354 Maps mersen
  Resources/Maps/CorvaxFrontier/Outpost/corvaxFrontier.yml
  Resources/Maps/CorvaxFrontier/POI/charlie.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/Sunset.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/zarya.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/centurion.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/hammer.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/rogue.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/warrior.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/Sunset.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/zarya.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/centurion.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/rogue.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/warrior.yml
Labels: No C#, YML

#355 Update RulesCorvax.txt
  Resources/ServerInfo/RulesCorvax.txt
Labels: No C#

#356 Fix's atmos Frontier
  Resources/Maps/CorvaxFrontier/Outpost/corvaxFrontier.yml
Labels: No C#, YML
