Repository Corvax-Frontier/corvax-frontier-14, pull requests merged in 2024-07, with the labels that each got.

#357 Ещё мелкий фикс Аванпоста
  Resources/Maps/CorvaxFrontier/Outpost/corvaxFrontier.yml
Labels: No C#, YML

#241 Fix respawn button visual bug
  Content.Server/Corvax/Respawn/RespawnSystem.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
Labels: C#

#363 Перевод кофе и мяуканья
  Resources/Locale/ru-RU/_NF/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/_NF/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: No C#, FTL, YML

#368 Финальный PR японской еды.
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/consumable/food/japanfood/ingredients/japaningredients.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/consumable/food/japanfood/japanfoods.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chang.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/dangodough.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Ingredients/rawramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/chocopocky.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/mitarasidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/onigiri.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/pockypack/pockypacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/porkramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/spicyporkramen.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/chocopocky.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/closed.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/open.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/unlit-equipped-MASK.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok1.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok2.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok3.png
Labels: No C#, FTL, YML, Sprites

#361 Translate UI shipyard and alcohol/non-alcohol dispenser
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/Shipyard/UI/VesselRow.xaml
  Resources/Locale/ru-RU/_NF/shipyard/shipyard-console-component.ftl
  Resources/Locale/ru-RU/chemistry/components/reagent-dispenser-component.ftl
  Resources/Locale/ru-RU/preferences/ui/character-setup-gui.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: No C#, FTL, YML, UI

#373 fix chat
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: C#

#377 VPN try 2
  Content.Client/Administration/UI/Tabs/PanicBunkerTab/PanicBunkerTab.xaml
  Content.Client/Administration/UI/Tabs/PanicBunkerTab/PanicBunkerTab.xaml.cs
  Content.Server/Administration/Commands/PanicBunkerCommand.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/Administration/Commands/PanicBunkerCommand.cs
  Content.Shared/Administration/Events/PanicBunkerChangedEvent.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Resources/Locale/ru-RU/administration/ui/tabs/panicbunker-tab.ftl
  Resources/Locale/ru-RU/corvax/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/generic.ftl
Labels: FTL, C#, UI

#379 Fix upstream bugs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Execution/ExecutionSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: C#, UI

#375 Актуальная версия ЖапанФуд
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entitites/objects/consumable/food/japanfood/ingredients/japaningredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entitites/objects/consumable/food/japanfood/japanfoods.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chang.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Pockypacks/pockypacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/chocopocky.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/mitarasidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/onigiri.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/porkramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/spicyporkramen.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/chocopocky.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/closed.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/open.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/unlit-equipped-MASK.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok1.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok2.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok3.png
Labels: No C#, FTL, YML, Sprites

#381 Обновление правил
  Resources/ConfigPresets/Frontier/main.toml
  Resources/ServerInfo/Corvax/ServerRules/MainRuleset.xml
  Resources/ServerInfo/Corvax/ServerRules/rule0.xml
  Resources/ServerInfo/Corvax/ServerRules/rule1.xml
  Resources/ServerInfo/Corvax/ServerRules/rule2.xml
  Resources/ServerInfo/Corvax/ServerRules/rule3.xml
  Resources/ServerInfo/Corvax/ServerRules/rule31.xml
  Resources/ServerInfo/Corvax/ServerRules/rule32.xml
  Resources/ServerInfo/Corvax/ServerRules/rule33.xml
  Resources/ServerInfo/Corvax/ServerRules/rule34.xml
  Resources/ServerInfo/Corvax/ServerRules/rule35.xml
  Resources/ServerInfo/Corvax/ServerRules/rule4.xml
  Resources/ServerInfo/Corvax/ServerRules/rule5.xml
  Resources/ServerInfo/Corvax/ServerRules/rule6.xml
  Resources/ServerInfo/Corvax/ServerRules/rule7.xml
  Resources/ServerInfo/Corvax/ServerRules/rule8.xml
  Resources/ServerInfo/Corvax/ServerRules/rules.yml
Labels: No C#, YML, Docs

#383 add profile validation and async saving
  Content.Server/_NF/Bank/BankSystem.cs
Labels: C#
