Repository Corvax-Frontier/corvax-frontier-14, pull requests merged in 2024-05, with the labels that each got.

#98 Added penetration system
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Corvax/Penetration/PenetratableComponent.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
Labels: C#, YML

#106 Частично убрана синхронизация состояния BuckleComponent
  Content.Shared/Buckle/Components/BuckleComponent.cs
Labels: C#

#109 Upstream02052024
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Shared/DeltaV/StepTrigger/Component/NoShoesSilentFootstepsComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Audio/_NF/Voice/Goblin/attributions.yml
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-02.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-03.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-04.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-05.ogg
  Resources/Audio/_NF/Voice/Goblin/license.txt
  Resources/Changelog/Changelog.yml
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Prototypes/DeltaV/typing_indicator.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_NF/Body/Organs/goblin_organs.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
  Resources/Textures/DeltaV/Effects/speech.rsi/felinid0.png
  Resources/Textures/DeltaV/Effects/speech.rsi/felinid1.png
  Resources/Textures/DeltaV/Effects/speech.rsi/felinid2.png
  Resources/Textures/DeltaV/Effects/speech.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_rings.png
Labels: C#, Sprites, Map-Shuttle

#112 Executions
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Execution/DoafterEvent.cs
  Content.Shared/Execution/ExecutionComponent.cs
  Content.Shared/Execution/ExecutionSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Events/ShotAttemptedEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/execution/execution.ftl
  Resources/Locale/en-US/kitchen/components/butcherable-component.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: FTL, C#, YML

#113 Optimizon test
  Content.Server/Physics/Controllers/MoverController.cs
Labels: C#

#114 Add SSD check to autodelete
  Content.Server/Corvax/AutoDeleteItems/AutoDeleteComponent.cs
  Content.Server/Corvax/AutoDeleteItems/AutoDeleteSystem.cs
Labels: C#

#115 Optimizon 2
  Content.Server/Physics/Controllers/MoverController.cs
Labels: C#

#119 Fix extra damage at melee
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#, YML

#120 Fixed weapon damage
  Content.Shared/Execution/ExecutionComponent.cs
  Content.Shared/Execution/ExecutionSystem.cs
Labels: C#

#121 Boombox
  Content.Client/BoomBox/UI/BoomBoxBoundUi.cs
  Content.Client/BoomBox/UI/BoomBoxWindow.xaml
  Content.Client/BoomBox/UI/BoomBoxWindow.xaml.cs
  Content.Server/BoomBox/BoomBoxComponent.cs
  Content.Server/BoomBox/BoomBoxSystem.cs
  Content.Server/BoomBoxTape/BoomBoxTapeComponent.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Shared/BoomBox/SharedBoomBox.cs
  Resources/Audio/BoomBox/TheChain.ogg
  Resources/Audio/BoomBox/cant_smile.ogg
  Resources/Audio/BoomBox/space_asshole.ogg
  Resources/Audio/BoomBox/space_oddity.ogg
  Resources/Audio/BoomBox/starman.ogg
  Resources/Locale/en-US/boombox/boombox.ftl
  Resources/Locale/ru-RU/boombox/boombox.ftl
  Resources/Prototypes/Entities/Objects/Devices/boombox.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/autotunevend.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Devices/boombox.rsi/boombox.png
  Resources/Textures/Objects/Devices/boombox.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/boombox.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/boombox.rsi/meta.json
  Resources/Textures/Objects/Devices/boomboxtape.rsi/meta.json
  Resources/Textures/Objects/Devices/boomboxtape.rsi/tape.png
Labels: FTL, C#, YML, Sprites, UI

#122 Больше и дешевле музыки
  Resources/Audio/BoomBox/AURORA.ogg
  Resources/Audio/BoomBox/CarelessWhispe.ogg
  Resources/Audio/BoomBox/ComingHome.ogg
  Resources/Audio/BoomBox/DarrenKorbSignals.ogg
  Resources/Audio/BoomBox/DemonKittyRag.ogg
  Resources/Audio/BoomBox/KissTheSky.ogg
  Resources/Audio/BoomBox/MrKittyAfterDark.ogg
  Resources/Audio/BoomBox/ThisAintNoPlaceForNoHero.ogg
  Resources/Prototypes/Entities/Objects/Devices/boombox.yml
Labels: No C#, YML

#123 Added vulp language system
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/VulpLanguage/VulpLanguageSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
Labels: C#

#126 Postgres migrations fix
  Content.Server.Database/Migrations/Postgres/20200929113117_Init.cs
  Content.Server.Database/Migrations/Postgres/20220816163319_Traits.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220816163319_Traits.cs
Labels: C#

#124 Ghosts can understand vulps
  Content.Server/Corvax/VulpLanguage/VulpLanguageSystem.cs
  Content.Server/_NF/VulpLanguage/VulpLanguageListenerComponent.cs
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: C#, YML

#128 Added adaptive respawn time
  Content.Server/ServerUpdates/ServerUpdateManager.cs
Labels: C#

#129 Feature/balance monitoring
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/_NF/Bank/Events/BalanceChangedMessage.cs
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
Labels: FTL, C#, UI

#131 Added sorting and NO BALANCE label
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: C#, UI

#130 Cargo crates inflation
  Content.Server/Corvax/Inflation/InflationCargoCrateComponent.cs
  Content.Server/Corvax/Inflation/InflationCargoCrateSystem.cs
Labels: C#

#133 Небольшие изменения
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/satchel.yml
  Resources/Prototypes/_NF/Roles/Jobs/Security/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Security/security_guard.yml
Labels: No C#, YML

#132 Reworked language system
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Server/Chat/Commands/SayCommand.cs
  Content.Server/Chat/Commands/WhisperCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/Language/LanguageMessage.cs
  Content.Server/Corvax/Language/LanguageSpeakerComponent.cs
  Content.Server/Corvax/Language/LanguageSystem.cs
  Content.Server/Corvax/Language/LanguageTranslatorComponent.cs
  Content.Server/Corvax/Language/LanguageUnderstandComponent.cs
  Content.Server/Corvax/VulpLanguage/VulpLanguageSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
  Content.Server/Speech/ListenEvent.cs
  Content.Server/Speech/SpeechNoiseSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMicrophoneSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Content.Shared/Corvax/Language/GiveTranslatorComponent.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Locale/ru-RU/corvax/objects/devices/translator.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/translator.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
Labels: FTL, C#, YML

#134 Fixed radio prefixes
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/translator.yml
  Resources/Prototypes/Corvax/Lathes/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: C#, YML

#135 Уротски дворфски
  Resources/Locale/ru-RU/accent/dwarf.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, FTL, YML

#136 Added discord to menu
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Resources/Locale/en-US/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
Labels: FTL, C#, UI

#138 Перенос элегантной формы горничной с сборки Corvax
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/schoolgirl.yml
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/meta.json
Labels: No C#, FTL, YML, Sprites

#137 New race Elzuosa
  Resources/Locale/ru-RU/corvax/markings/elzuosa.ftl
  Resources/Locale/ru-RU/corvax/reagents/bilogical.ftl
  Resources/Locale/ru-RU/corvax/species/species.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Corvax/Body/Organs/elzuosa.yml
  Resources/Prototypes/Corvax/Body/Parts/elzuosa.yml
  Resources/Prototypes/Corvax/Body/Prototypes/elzuosa.yml
  Resources/Prototypes/Corvax/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Corvax/Damage/modifier_sets.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/elzuosa.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Player/elzuosa.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/elzuosa.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/xenoslime.yml
  Resources/Prototypes/Corvax/Reagents/biological.yml
  Resources/Prototypes/Corvax/Species/elzuosa.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_helm_ADJ.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_helm_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_inward_ADJ.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_inward_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_lunar_ADJ.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_lunar_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_majesty_ADJ.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/ethereal_parts_m_elzu_horns_majesty_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_big_markings.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_eyes_glow_gs.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_eyes_missing.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_elzu_horns_clipped_ADJ.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_elzu_horns_clipped_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_elzu_horns_sharp_ADJ.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_elzu_horns_sharp_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_elzu_horns_short_ADJ.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_elzu_horns_short_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_tail_bifurcated_BEHIND.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_tail_bifurcated_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_tail_long_BEHIND.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_tail_long_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_tail_stubby_BEHIND.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_tail_stubby_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_waggingtail_bifurcated_BEHIND.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_waggingtail_bifurcated_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_waggingtail_long_BEHIND.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_waggingtail_long_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_waggingtail_stubby_BEHIND.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/ethereal_parts_m_waggingtail_stubby_FRONT.png
  Resources/Textures/Corvax/Mobs/Customization/elzuosa_markings.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/eyes.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/full.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/head_f.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/head_m.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/l_arm.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/l_hand.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/l_leg.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/r_arm.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/r_hand.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/r_leg.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/torso_f.png
  Resources/Textures/Corvax/Mobs/Species/Elzuosa/parts.rsi/torso_m.png
Labels: No C#, FTL, YML, Sprites

#139 Same Sprites
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mail_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/OuterClothing/WinterCoats/mail_winter_coat.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/mailman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/mailman.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mailman.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mailman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mailman.rsi/icon.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/mailman.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/conspiracy_board.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/conspiracy_board.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
  Resources/Textures/_NF/Clothing/Eyes/Hud/mail.rsi/equipped-EYES.png
  Resources/Textures/_NF/Clothing/Eyes/Hud/mail.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/janitor.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/janitor_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/pilot_door.png
Labels: No C#, Sprites

#140 Переработка астероидов
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Prototypes/World/Biomes/basic.yml
Labels: No C#, YML

#141 Fix artifact destroy walls
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Maps/TileSystem.cs
Labels: C#

#142 Новый ресурс, драгоценные кристаллы!
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/specific/salvage/gems_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/objectives/gems.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/gems.yml
  Resources/Prototypes/Corvax/Entities/Objects/Specific/Salvage/gem_bag.yml
  Resources/Prototypes/Corvax/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Corvax/ore.yml
  Resources/Prototypes/Corvax/tags.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/amber.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/data.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/diamond.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/emerald.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/magma.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/meta.json
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/phoron.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/purple.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/red.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/ruby.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/rupee.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/rupee_broken.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/sapphire.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/shine.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/topaz.png
  Resources/Textures/Corvax/Objects/Materials/gems.rsi/void.png
  Resources/Textures/Corvax/Objects/Specific/Mining/gems_sbag.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Specific/Mining/gems_sbag.rsi/icon.png
  Resources/Textures/Corvax/Objects/Specific/Mining/gems_sbag.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Specific/Mining/gems_sbag.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Specific/Mining/gems_sbag.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_gems.png
Labels: No C#, FTL, YML, Sprites

#143 Added translator toggling
  Content.Server/Chat/Commands/SayCommand.cs
  Content.Server/Chat/Commands/WhisperCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/Language/Components/LanguageSpeakerComponent.cs
  Content.Server/Corvax/Language/Components/LanguageUnderstandComponent.cs
  Content.Server/Corvax/Language/EntitySystems/LanguageSystem.cs
  Content.Server/Corvax/Language/EntitySystems/LanguageTranslatorSystem.cs
  Content.Server/Corvax/Language/LanguageTranslatorComponent.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Corvax/Language/Components/GiveTranslatorComponent.cs
  Content.Shared/Corvax/Language/Components/LanguageTranslatorComponent.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Locale/ru-RU/corvax/verbs/translator.ftl
  Resources/Prototypes/Corvax/Actions/translator.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/translator.yml
  Resources/Textures/Corvax/Objects/Devices/translator.rsi/icon.png
  Resources/Textures/Corvax/Objects/Devices/translator.rsi/icon_off.png
  Resources/Textures/Corvax/Objects/Devices/translator.rsi/meta.json
Labels: FTL, C#, YML, Sprites

#146 Fix languages
  Content.Server/Corvax/Language/EntitySystems/LanguageSystem.cs
Labels: C#

#148 Loc upd (12.05.24)
  Resources/Locale/ru-RU/_NF/advertisements/mobchatter/bloodculthumanoidmob.ftl
  Resources/Locale/ru-RU/_NF/advertisements/mobchatter/syndicatehumanoidmob.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/structures/machines/lathe.ftl
Labels: No C#, FTL

#144 Самый бесполезный PR на фронтир. Реворк консоли шаттла
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Resources/Locale/ru-RU/shuttles/console.ftl
Labels: FTL, C#, UI

#147 Update my first PR
  Content.Server/NPC/HTN/HTNSystem.cs
Labels: C#

#149 Added ability to early finish mission
  Content.Client/Salvage/UI/SalvageExpeditionConsoleBoundUserInterface.cs
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml.cs
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Shared/Salvage/Expeditions/SalvageExpeditions.cs
  Resources/Locale/ru-RU/procedural/expeditions.ftl
Labels: FTL, C#, UI

#150 Fixed stack overflow
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
Labels: C#

#151 Краболемы
  Resources/Prototypes/Corvax/Entities/Effects/mobspawn.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Corvax/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/World/Biomes/basic.yml
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_bananium.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_coal.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_gold.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_iron.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_magmite.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_plasma.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_quartz.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_salt.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_silver.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/crab_uranium.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/golem.png
  Resources/Textures/Corvax/Effects/mobspawn.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/bananiuml_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/coal_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/core.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/gold_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/iron_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/magmite_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/plasma_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/pulse.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/quartz_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/salt_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/silver_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/golems.rsi/uranium_golem.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/bananium_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/coal_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/gold_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/iron_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/magmite_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/plasma_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/quartz_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/salt_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/silver_crab.png
  Resources/Textures/Corvax/Mobs/Elemental/orecrab.rsi/uranium_crab.png
Labels: No C#, YML, Sprites

#165 Update .gitmodules (#1358)
  .gitmodules
Labels: No C#

#167 Смена сабмодуля
  .gitmodules
Labels: No C#

#172 Проверяем
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/yaml-linter.yml
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/_NF/StatusEffects/job.yml
Labels: C#, YML, UI

#174 Update build-docfx.yml (#1366)
  .github/workflows/build-docfx.yml
Labels: No C#

#175 Dotnet 8.0.100
  .github/workflows/build-docfx.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/yaml-linter.yml
Labels: No C#

#186 Фикс лоадаутов
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/wooden_stake.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/eyes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/bags.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
Labels: No C#, YML

#187 Add missing interface
  Corvax/Content.Corvax.Interfaces.Shared/ISharedLoadoutsManager.cs
Labels: C#

#164 Fix Error NFSD Airlocks
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/open_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/open_unlit.png
Labels: No C#, Sprites

#154 Added north line to shuttle console
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: C#, UI

#188 Fixed SandboxViolation
  Content.Server/Corvax/Language/EntitySystems/LanguageSystem.cs
Labels: C#

#189 Pobably
  Content.Client/RCD/RCDMenu.xaml.cs
  Content.Shared/Chat/SharedChatSystem.cs
Labels: C#, UI

#194 Mercenary resprite
  Resources/Textures/Clothing/Belt/mercwebbing.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/mercwebbing.rsi/icon.png
  Resources/Textures/Clothing/Belt/mercwebbing.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/mercwebbing.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/mercglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/mercglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/mercglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/mercglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/mercfingerless.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/mercfingerless.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/mercfingerless.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/mercfingerless.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_merc.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_merc.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_merc.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_merc.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/merc_helmet.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/merc_helmet.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/merc_helmet.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/merc_helmet.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/merc.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/merc.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/merc.rsi/icon.png
  Resources/Textures/Clothing/Mask/merc.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/merc.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Vests/mercwebvest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/mercwebvest.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/mercwebvest.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Vests/mercwebvest.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/mercboots.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/mercboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/mercboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/mercboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/mercboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mercenary.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mercenary.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mercenary.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mercenary.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mercenary.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Back/Messenger/mercenary.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Messenger/mercenary.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Messenger/mercenary.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Messenger/mercenary.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/mercenary.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/mercenary.rsi/icon.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/mercenary.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/mercenary.rsi/inhand-right.png
Labels: No C#, Sprites

#202 Снятие вайтлиста с части ролей
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
Labels: No C#, YML

#163 Money exploit fix
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
Labels: C#

#204 Фиксы перевода
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/body/organs/elzuosa.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/body/organs/resomi.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/body/parts/resomi.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/body/parts/xenoslime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/weapons/melee/magmitecrushers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/vests.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/other.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/mining.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/soda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/beds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/chem_master.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/structures/lighting/colored_lighting.ftl
  Tools/ss14_ru/ftlfinder.py
Labels: No C#, FTL

#205 Еще фиксы перевода
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/messenger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/flatpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/bedsheets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/vests.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/bedsheets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
Labels: No C#, FTL

#161 Map fix
  Content.Client/Shuttles/Systems/ShuttleSystem.Console.cs
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
Labels: C#, UI

#190 Fixed giving translators
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
Labels: C#

#199 Enhance translator discharge
  Content.Server/Corvax/Language/EntitySystems/LanguageTranslatorSystem.cs
  Content.Shared/Corvax/Language/Components/LanguageTranslatorComponent.cs
  Resources/Prototypes/Corvax/Entities/Objects/Devices/translator.yml
Labels: C#, YML

#203 Ability to send fax to all shuttles
  Content.Server/Corvax/FaxMultiaddress/FaxMultiaddressComponent.cs
  Content.Server/Corvax/FaxMultiaddress/FaxMultiaddressSystem.cs
  Resources/Prototypes/CorvaxFrontier/Entities/fax_multiaddress.yml
Labels: C#, YML

#157 Сортировка в результатов конце раунда
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

#156 Improved language colors
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
Labels: FTL, C#

#192 Manifest fix
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringServerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
Labels: C#

#209 fix shuttle's
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/zarya.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/zarya.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/kestrel.yml
Labels: No C#, YML, Map-Shuttle

#207 Add logging for money anticheat
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Shared.Database/LogType.cs
Labels: C#

#208 Добавление баланса в кпк
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Content.Shared/Species/Systems/ReformSystem.cs
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
Labels: FTL, C#, UI

#211 Фикс анти-мета системы имплантеров
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
Labels: No C#, FTL

#213 Немного спрайтиков
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdsheriff.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/bolted_open_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/bolted_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/closed_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/closing_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/deny_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/emergency_open_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/emergency_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/opening_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/panel_closed.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/panel_closing.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/panel_open.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/panel_opening.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/sparks.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/sparks_broken.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/sparks_damaged.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/sparks_open.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Glass/nfsd.rsi/welded.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/bolted_open_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/bolted_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/closed_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/closing_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/deny_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/emergency_open_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/emergency_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/opening_unlit.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/panel_closed.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/panel_closing.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/panel_open.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/panel_opening.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/sparks.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/sparks_broken.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/sparks_damaged.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/sparks_open.png
  Resources/Textures/_NF/Structures/Doors/Airlocks/Standard/nfsd.rsi/welded.png
Labels: No C#, Sprites

#215 Спонсорские вещи, но бесплатно. Временно
  Resources/Locale/ru-RU/corvax/markings/elf.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/elf_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/fox_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cyberlibs.yml
  Resources/Prototypes/Species/human.yml
  Resources/Textures/Corvax/Mobs/Customization/elfs_markings.rsi/elfs.png
  Resources/Textures/Corvax/Mobs/Customization/elfs_markings.rsi/elfs_broad.png
  Resources/Textures/Corvax/Mobs/Customization/elfs_markings.rsi/elfs_longer.png
  Resources/Textures/Corvax/Mobs/Customization/elfs_markings.rsi/elfs_ribbons.png
  Resources/Textures/Corvax/Mobs/Customization/elfs_markings.rsi/elfs_wide.png
  Resources/Textures/Corvax/Mobs/Customization/elfs_markings.rsi/meta.json
Labels: No C#, FTL, YML, Sprites

#212 Add shuttle Hercules and fix's Pot
  Resources/Maps/CorvaxFrontier/Shuttles/Pot.yml
  Resources/Maps/CorvaxFrontier/Shuttles/hercules.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Pot.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/hercules.yml
Labels: No C#, YML

#155 Expedition early finish fix
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Resources/Locale/ru-RU/procedural/expeditions.ftl
Labels: FTL, C#

#191 Respawn timer fix
  Content.Client/Corvax/Respawn/RespawnSystem.cs
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Corvax/Language/Components/LanguageUnderstandComponent.cs
  Content.Server/Corvax/Respawn/RespawnResetComponent.cs
  Content.Server/Corvax/Respawn/RespawnSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
  Content.Shared/Corvax/Language/Components/GiveTranslatorComponent.cs
  Content.Shared/Corvax/Respawn/RespawnResetEvent.cs
Labels: C#, UI

#218 Fix BluespaceArcIndDataCarrier bluespace-event (#1430)
  Resources/Maps/_NF/Bluespace/datacarrier.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
Labels: No C#, Map-Bluespace

#217 Hotfix Translation&Description
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/items/weapon_cases_expedition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/expedition_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/vector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/vector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/vector.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Boxes/Vector/vector.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/SMGs/SMGsAmmo.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Magazines/VectorMags/VectorMags.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/SMGsAmmo.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/SMGs/vector.yml
Labels: No C#, FTL, YML

#219 Added Vector ammo to AmmoTechFab
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/SMGs/vector.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML

#220 О боже, опять патч вектора.
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/vector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/vector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/vector.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Boxes/Vector/vector.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/SMGs/SMGsAmmo.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Magazines/VectorMags/VectorMags.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/SMGsAmmo.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/SMGs/vector.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_rng_items_armory.yml
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/22LR.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/base.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/emp.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/incendiary.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/incendiarydisplay.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/practice.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/rubber.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Boxes/Vector/Vector22.rsi/uranium.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Magazine/Vector/vector22mag.rsi/incendiary.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Magazine/Vector/vector22mag.rsi/meta.json
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Magazine/Vector/vector22mag.rsi/practice.png
  Resources/Textures/Corvax/Objects/Weapons/Guns/Ammunition/Magazine/Vector/vector22mag.rsi/uranium.png
Labels: No C#, FTL, YML, Sprites

#222 Парочка треков в музыкальный аппарат
  Resources/Audio/Jukebox/attributions.yml
  Resources/Audio/Jukebox/hopesanddreams.ogg
  Resources/Audio/Jukebox/megalovania.ogg
  Resources/Audio/Jukebox/undertale.ogg
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: No C#, YML

#224 Сделаем ка экспедиции чутка сложнее.
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/base_humanoid_hostile.yml
Labels: No C#, YML

#225 Я люблю наших игроков
  Content.Server/NPC/NPCBlackboard.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/base_humanoid_hostile.yml
Labels: C#, YML

#227 Фиксы
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Prototypes/_NF/Shipyard/crown.yml
  SpaceStation14.sln
Labels: C#, YML, Map-Shuttle

#230 Восстановление ивентов
  Resources/Prototypes/_NF/Events/events_bluespace.yml
Labels: No C#, YML

#231 Околофинальные правки.
  Resources/Locale/ru-RU/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/corvax/_NF/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/boxes/ammunition.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Boxes/Vector/vector.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/SMGsAmmo.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/SMGs/vector.yml
  Resources/Prototypes/Corvax/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_rng_items_armory.yml
Labels: No C#, FTL, YML

#232 СКАФандр теперь стал СКУФандром...
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/icon.png
Labels: No C#, FTL, Sprites

#233 Фикс ивентов
  Resources/Maps/_NF/Bluespace/asteroidbunker.yml
  Resources/Maps/_NF/Bluespace/asteroidvault.yml
Labels: No C#, Map-Bluespace

#235 Перенос Wieldable
  Content.Shared/Hands/Components/HandHelpers.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunRequiresWieldComponent.cs
  Content.Shared/Weapons/Ranged/Components/GunWieldBonusComponent.cs
  Content.Shared/Weapons/Ranged/Events/ShotAttemptedEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Resources/Locale/en-US/virtual/virtual-item.ftl
  Resources/Locale/en-US/wieldable/wieldable-component.ftl
  Resources/Locale/ru-RU/virtual/virtual-item.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_wieldable.yml
Labels: FTL, C#, YML

#236 Ап31
  Content.IntegrationTests/Tests/Fluids/FluidSpillTest.cs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Changelog/Changelog.yml
Labels: C#, YML

#240 Удаление шаттла "Спираль"
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/_NF/Shipyard/helix.yml
Labels: No C#, YML, Map-Shuttle

#237 add sindipost "Charlie", NSF shuttle "Harrier" and "warrior", fix shu…
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/CorvaxFrontier/POI/charlie.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Expedition/zarya.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/harrier.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/rogue.yml
  Resources/Maps/CorvaxFrontier/Shuttles/Nfsd/warrior.yml
  Resources/Prototypes/CorvaxFrontier/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/harrier.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/rogue.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/warrior.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/rogue.yml
Labels: C#, YML, Map-Shuttle

#210 Время до эвака в кпк
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/ru-RU/pda/pda-component.ftl
Labels: FTL, C#, UI
